$black-color: #000;
$primary-color: #f18805;

.input-wrapper {
  .ant-input {
    color: $black-color;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 28px;
  }

  .ant-input-suffix {
    cursor: pointer;
  }

  .ant-input:focus {
    &:focus {
      border-color: $primary-color;
      box-shadow: none;
    }
  }

  .ant-input:hover {
    &:hover {
      border-color: $primary-color;
    }
  }

  .ant-input-affix-wrapper {
    &:hover,
    &:active,
    &:focus {
      border-color: $primary-color;
      box-shadow: none;
      border-radius: 4px;
    }
  }

  .ant-input-affix-wrapper-focused {
    border-color: $primary-color;
    box-shadow: none;
  }
}
